ProveedorEmpresas/src/main/resources/empresas.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="/empresa"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="/empresa" targetNamespace="/empresa">
<wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="/empresa">

        <xs:element name="getEmpresaRequest">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="id" type="xs:int" />
                </xs:sequence>
            </xs:complexType>
        </xs:element>

        <xs:element name="getEmpresaResponse">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="empresa" type="tns:empresa" />
                </xs:sequence>
            </xs:complexType>
        </xs:element>

        <xs:complexType name="empresa">
            <xs:sequence>
                <xs:element name="id" type="xs:int" />
                <xs:element name="nombrePublico" type="xs:string"/>
                <xs:element name="numeroEmpresa" type="xs:int"/>
                <xs:element name="dirPrincipal" type="xs:string"/>
                <xs:element name="razonSocial" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:schema>
</wsdl:types>
<wsdl:message name="getEmpresaResponse">
    <wsdl:part element="tns:getEmpresaResponse" name="getEmpresaResponse">
    </wsdl:part>
</wsdl:message>
<wsdl:message name="getEmpresaRequest">
    <wsdl:part element="tns:getEmpresaRequest" name="getEmpresaRequest">
    </wsdl:part>
</wsdl:message>
<wsdl:portType name="EmpresaPort">
    <wsdl:operation name="getEmpresa">
        <wsdl:input message="tns:getEmpresaRequest" name="getEmpresaRequest">
        </wsdl:input>
        <wsdl:output message="tns:getEmpresaResponse" name="getEmpresaResponse">
        </wsdl:output>
    </wsdl:operation>
</wsdl:portType>
<wsdl:binding name="EmpresaPortSoap11" type="tns:EmpresaPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getEmpresa">
        <soap:operation soapAction="" />
        <wsdl:input name="getEmpresaRequest">
            <soap:body use="literal" />
        </wsdl:input>
        <wsdl:output name="getEmpresaResponse">
            <soap:body use="literal" />
        </wsdl:output>
    </wsdl:operation>
</wsdl:binding>
<wsdl:service name="EmpresaPortService">
    <wsdl:port binding="tns:EmpresaPortSoap11" name="EmpresaPortSoap11">
        <soap:address location="http://localhost:8080/ws" />
    </wsdl:port>
</wsdl:service>
</wsdl:definitions>