ProveedorEmpresas/src/main/resources/empresas.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="/pdi"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="/pdi" targetNamespace="/pdi">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="/pdi">

            <xs:element name="getEmpresaRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="rut" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="getEmpresaResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="empresa" type="tns:empresa"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:complexType name="empresa">
                <xs:sequence>
                    <xs:element name="rut" type="xs:string"/>
                    <xs:element name="nombrePublico" type="xs:string"/>
                    <xs:element name="dirPrincipal" type="xs:string"/>
                    <xs:element name="razonSocial" type="xs:string"/>
                    <xs:element name="nroEmpresa" type="xs:int"/>
                    <xs:element name="responsable" type="tns:responsable" minOccurs="0" />
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="responsable">
                <xs:sequence>
                    <xs:element name="cedula" type="xs:string" />
                    <xs:element name="nombre" type="xs:string" />
                    <xs:element name="apellido" type="xs:string" />
                    <xs:element name="email" type="xs:string" />
                </xs:sequence>
            </xs:complexType>

            <xs:element name="getCiudadanoRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="cedula" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="getCiudadanoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ciudadano" type="tns:ciudadano"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:complexType name="ciudadano">
                <xs:sequence>
                    <xs:element name="cedula" type="xs:string" />
                    <xs:element name="nombre" type="xs:string"/>
                    <xs:element name="apellido" type="xs:string" />
                    <xs:element name="email" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getEmpresaResponse">
        <wsdl:part element="tns:getEmpresaResponse" name="getEmpresaResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getEmpresaRequest">
        <wsdl:part element="tns:getEmpresaRequest" name="getEmpresaRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getCiudadanoResponse">
        <wsdl:part element="tns:getCiudadanoResponse" name="getCiudadanoResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getCiudadanoRequest">
        <wsdl:part element="tns:getCiudadanoRequest" name="getCiudadanoRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="PdiPort">
        <wsdl:operation name="getEmpresa">
            <wsdl:input message="tns:getEmpresaRequest" name="getEmpresaRequest">
            </wsdl:input>
            <wsdl:output message="tns:getEmpresaResponse" name="getEmpresaResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCiudadano">
            <wsdl:input message="tns:getCiudadanoRequest" name="getCiudadanoRequest">
            </wsdl:input>
            <wsdl:output message="tns:getCiudadanoResponse" name="getCiudadanoResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PdiPortSoap11" type="tns:PdiPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getEmpresa">
            <soap:operation soapAction=""/>
            <wsdl:input name="getEmpresaRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getEmpresaResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCiudadano">
            <soap:operation soapAction=""/>
            <wsdl:input name="getCiudadanoRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getCiudadanoResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PdiPortService">
        <wsdl:port binding="tns:PdiPortSoap11" name="PdiPortSoap11">
            <soap:address location="http://localhost:8080/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>